.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input {
    max-width: 200px;
}

.submit-btn {
    max-width: 100px;
}