# Python
/server/api/__pycache__/
/server/logic/__pycache__/

# Virtual Environments
server/.venv/

# Node.js
node_modules/
npm-debug.log*

# Build outputs
client/dist/
client/build/
server/dist/
server/build/

# Environment variables
client/.env.local

# IDE and Editors
.vscode/

